html, body {
  height: 100%;
}

body {
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 20px 0;
    width: 1000px;
    margin: 0 auto;
    height: 100%;
}

.site-header {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation__link {
    color: black;
    font-size: 32px;
    text-decoration: none;
}

.search {
    margin-left: auto;
}

.search__input {
    font-size: 14px;
    width: 200px;
    padding: 10px;
}

.content {
  
    overflow: auto;
}

 .episode-list {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.episode-list__item {
    display: flex;
}

.episode-list__item:not(:last-child) {
    margin-bottom: 10px;
}

.episode-list-item__play {
    margin-right: 15px;
    background-color: transparent;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.player {
    margin-top: auto;
    border-top: 1px solid black;
}

.player__episode-name {
    text-align: center;
}

.player audio {
    width: 100%;
}