body {
  margin: 0;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* box-sizing: border-box; */
  padding-top: 80px;
  padding-bottom: 100px;
  max-width: 1000px;
  margin: 0 auto;
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid black;
  background-color: white;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation__link {
  color: black;
  font-size: 32px;
  text-decoration: none;
}

.search {
  margin-left: auto;
}

.search__input {
  font-size: 14px;
  width: 200px;
  padding: 10px;
}

.episode-list {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  margin-bottom: 20px;
}

.episode-list__item {
  display: flex;
}

.episode-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.episode-list-item__play {
  margin-right: 15px;
  background-color: transparent;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.player {
  position: fixed;
  width: 100%;
  bottom: 0;
  max-width: 1000px;
  border-top: 1px solid black;
  background-color: white;
}

.player__episode-name {
  text-align: center;
}

.player audio {
  width: 100%;
}

.podcast-list {
  padding: 30px 0;
  margin: 0;
  list-style: none;
}

.podcast-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.podcast-list-item {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: inherit;
  font-size: 18px;
  cursor: pointer;
}

.podcast-list-item:hover {
  color: #03A9F4;
}

.podcast-list-item__image {
  margin-right: 20px;
  margin-left: 2px;
  width: 60px;
  height: 60px;

  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.podcast-info {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
}

.podcast-info__image {
  width: 200px;
  height: 200px;
  flex-shrink: 0;

  margin-right: 30px;
}

.podcast-details__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.podcast-details {
  padding-right: 10px;
}

.podcast-details__title {
  margin: 0;
}

.podcast-details__subscribe-button {
  width: 100px;
  padding: 10px 0;
  border: none;
  font-size: 14px;
  /* font-weight: bold; */
  border-radius: 15px;

  cursor: pointer;
}